/* body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px 0;
    text-align: center;
}

img {
    width: 600px;
    height: 450px;
}


.drop-zone {
    height: 300px;
    width: 600px;
    border: 2px dashed #ddd;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
    margin: 50px auto;
  }
  
  .drop-zone-content {
    text-align: center;
  }

  .box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box{
	  width: 600px;
  height: 450px;
  background-color: grey;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  outline: 2px dashed transparent;
  outline-offset: -10px;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

.box.has-advanced-upload {
	background-color: white;
	outline: 2px dashed black;
	outline-offset: -10px;
  }
  .box.has-advanced-upload .box__dragndrop {
	display: inline;
  }

  .box.is-dragover {
	background-color: grey;
  }

  .box.is-uploading .box__input {
	visibility: none;
  }
  .box.is-uploading .box__uploading {
	display: block;
  }

  #drop-zone {
	background-color: #f2f2f2;
	border: 2px dashed #ccc;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 20px;
	text-align: center;
	padding: 50px;
	margin: 20px;
}
  
  .drop-zone.drag-over {
	background-color: #6d6d6d;
	border-color: #000;
  }

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	background-color: #226ae6;
	border-bottom: 1px solid #ddd;
	height: 60px;
}

.nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.nav ul li{
	list-style: none;
	display: inline-block;
	margin: 0 10px;
}

.nav ul li a{
	color: white;
	text-decoration: none;
	font-size: 20px;
}
  
  


   */


   body {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px 0;
    text-align: center;
}

img {
    width: 550px;
    height: 400px;
}

#main-title {
  font-size: 25px;
  font-weight: 600;
  background-image: linear-gradient(to left, black, rgb(58, 53, 53));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

#main-title:hover {
  color: #226ae6;
  cursor: pointer;
}

.nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	/* border: 1px solid black; */
}

.nav ul li{
	list-style: none;
	display: inline-block;
  padding: 50px;
	margin: 0 10px;

}

.nav ul li a{
	color: white;
	text-decoration: none;
	font-size: 25px;
  font-weight: 600;
}

.nav ul li a:hover{
  color: #226ae6;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

section {
  align-items: center;
}



#drop-zone {
    height: 450px;
    width: 700px;
    border: 2px dashed #ddd;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
    margin: 50px auto;
    cursor: pointer;
  }

.upload-button{
  background-color: #5490e7;
  color: white;
  border: none;
  border-radius: 5px;
  /* padding: 10px; */
  font-size: 20px;
  font-weight: 600;
  /*margin: 10px;
   */
  /* -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px; */
}

  
  .drop-zone-content {
    text-align: center;
  }

  .box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box{
	  width: 600px;
  height: 450px;
  background-color: grey;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  outline: 2px dashed transparent;
  outline-offset: -10px;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

.box.has-advanced-upload {
	background-color: white;
	outline: 2px dashed black;
	outline-offset: -10px;
  }
  .box.has-advanced-upload .box__dragndrop {
	display: inline;
  }

  .box.is-dragover {
	background-color: grey;
  }

  .box.is-uploading .box__input {
	visibility: none;
  }
  .box.is-uploading .box__uploading {
	display: block;
  }

  #drop-zone {
	background-color: #f2f2f2;
	border: 2px dashed #ccc;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 20px;
	text-align: center;
	padding: 50px;
	/* margin: 20px; */
}
  
  .drop-zone.drag-over {
	background-color: #6d6d6d;
	border-color: #000;
  }

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	background-color: #226ae6;
	border-bottom: 1px solid #ddd;
	height: 100px;
}

#drop-zone p {
  color:rgb(58, 53, 53);
  font-size: 20px;
  font-weight: 600;
}

footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;

  
}
.contact-info {
  padding: 50px;
  color: #1d68e6;
}

footer a {
  text-decoration: none;

}